REGISTRY=
APP_VERSION=
APP_NAME=
APP_CONTAINER=

##########################################
# APP ENVIRONMENT (development or release)
##########################################
GO_ENV=
PORT=

###################
# JWT SECRET KEY
###################
JWT_SECRET_KEY=
JWT_AUD=

##########################
# POSTGRES SQL ENVIRONMENT
##########################
## DEV
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SSL=
## PROD
POSTGRES_HOST_PROD=
POSTGRES_PORT_PROD=
POSTGRES_DB_PROD=
POSTGRES_USER_PROD=
POSTGRES_PASSWORD_PROD=
POSTGRES_SSL_PROD=

################
# OBJECT STORAGE
################
OBJECT_STORAGE_REGION=
OBJECT_STORAGE_ENDPOINT=
OBJECT_STORAGE_BUCKET=
OBJECT_STORAGE_ACCESS_KEY=
OBJECT_STORAGE_SECRET_ACCESS_KEY=
OBJECT_STORAGE_ACCESS_FILE=